nvim/

akregatorrc
baloofilerc
dconf/
gtk-3.0/
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
kcminputrc
kconf_updaterc
kded5rc
kdedefaults/
kdeglobals
kde.org/
kglobalshortcutsrc
kioslaverc
kmenueditrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
session/
systemsettingsrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
