autostart/
clash/
coc/
configstore/
dconf/
doom/
emacs/
evolution/
fcitx/
fcitx5/
gnome-control-center/
google-chrome/
gtk-3.0/
helix/
htoprc
ibus/
Kingsoft/
libfm/
nextjs-nodejs/
nvim.bak/
nvim/
pcmanfm/
pip/
pulse/
tmux/plugins/
totem/
variety/
wslu/
yarn/

.gsd-keyboard.settings-ported
dleyna-renderer-service.conf
GNOME-xdg-terminals.list
lazygit/state.yml
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
